<%= stylesheet_link_tag "slots" %>

<% content_for(:header) do %>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/eonasdan-bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js'></script>
<% end %>

<div class="container">
	<div class="row">
		<div class="col-12">

			<div class="form-group col-3 pull-left p-2">
				<label>Date</label>
				<div class="input-group date" id="datepicker">
					<input class="form-control" placeholder="MM/DD/YYYY"/><span class="input-group-append input-group-addon"><span class="input-group-text"><i class="fa fa-calendar"></i></span></span>
				</div>
			</div>

			<div class="form-group col-3 pull-left p-2">
				<label>Start Time</label>
				<div class="input-group time" id="start-timepicker">
					<input class="form-control" placeholder="HH:MM AM/PM"/><span class="input-group-append input-group-addon"><span class="input-group-text"><%= fa_icon "clock-o" %></span></span>
				</div>
			</div>

			<div class="form-group col-3 pull-left p-2">
				<label>End Time</label>
				<div class="input-group time" id="end-timepicker">
					<input class="form-control" placeholder="HH:MM AM/PM"/><span class="input-group-append input-group-addon"><span class="input-group-text"><%= fa_icon "clock-o" %></span></span>
				</div>
			</div>

			<div class="form-group col-3 pull-left p-2" style="height: 86px;display: flex;justify-content: center;align-items: flex-end;">
				<button class="btn btn-outline-primary">Update Search</button>
			</div>


		</div>
	</div>
</div>


<div class="d-flex flex-column justify-content-center">
	<h2 class="text-center">Select a slot</h2>
	<div class="container-fluid d-flex flex-column justify-content-around align-items-center" style="height:50vh;position:relative">
		<div class="arrow-box">
			<p class="vertical-text" style="left:50px">Entry</p>
		</div>
		<div class="row-1">
			<div class="card slot free rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center"><%= fa_icon("car 2x")%></p>
				</div>
			</div>
			<div class="card slot free rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot  rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center"><%= fa_icon("motorcycle 2x")%></p>
				</div>
			</div>
			<div class="card slot free rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
		</div>

		<div class="row-2" >
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
		</div>

		<%# <div class="row-3" style="display:none">
			<div class="card slot free rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
		</div> %>

		<%# <div class="row-4" style="display:none">
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
		</div> %>
	</div>

	<div class="text-center mt-4">
		<button class="btn btn-outline-primary submit" disabled> Book</button>
	</div>
</div>

<script>
	var addclass = 'color';
	var $cols = $('.slot.free').on('click', function (e) {
		$cols.removeClass(addclass);
		$(this).addClass(addclass);
		$('.submit').prop('disabled', false);
	});
	
	$("#datepicker").datetimepicker({
	    allowInputToggle:true,
		useCurrent: false,
	    format: "L",
	    showTodayButton: true,
	    icons: {
	      next: "fa fa-chevron-right",
	      previous: "fa fa-chevron-left",
	      today: 'todayText',
	    },
		maxDate:moment().add(7,'d'),
		minDate:moment()
	});
	
	$("#start-timepicker").datetimepicker({
	    allowInputToggle:true,
		format: "LT",
	    icons: {
	      up: "fa fa-chevron-up",
	      down: "fa fa-chevron-down"
	    }
	});
	
	$("#end-timepicker").datetimepicker({
	    allowInputToggle:true,
		format: "LT",
	    icons: {
	      up: "fa fa-chevron-up",
	      down: "fa fa-chevron-down"
	    }
	});
</script>
